/* CSS reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MY STYLING BEGINS HERE */

html {
  font-size: 18px; /* default font size is higher for better visibility */
}

.skiplinks ul { /* allows skiplinks nav to hold other elements with a position property */
    position: relative;
}

.skiplinks a {   /* uses position absolute to hide the skiplinks */
    position: absolute;
    top: -10em;
}

.skiplinks a:focus { /* adds a "focus" pseudoclass for skiplinks */
background-color: rgb(255, 234, 0); /* displays when user selects or tabs to skiplinks */
top: 0; /* brings skiplinks back on the page when they are focused on */
}

/* ASSIGNMENT STLING BEGINS HERE */

body {
  font-family: 'Roboto', Helvetica, sans-serif;
  /* tried to add font-weight: normal to unbold body text, but didn't work */
  background-color: whitesmoke; /* changes background color to fix contrast issues */
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Stick No Bills', 'Roboto', Helvetica, sans-serif;
  font-weight: bold; /* bolds all headings */
  /* tried removing the left margin with margin:0, but didn't work */
}

h1 { /* increases h1 font size and adds padding */
font-size: 4.8rem;
padding: 20px;
}

h2 { /* increases h2 font size and adds padding */
font-size: 3.2rem;
padding: 20px;
}

h3 { /* increases h3 font size and adds padding */
font-size: 2.4rem;
padding: 20px;
}

p { /* adds space between lines for easier readability */
 line-height: 1.5rem;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 1rem;
}

img {
  width: 100%;
}

.main-nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 20px; /* adds padding to the nav list */
}

.main-nav ul li {
  flex: 1;
  text-align: center;
}

.main-nav ul li a {
  display: block;
  color: inherit;
  text-decoration: none;
  font-size: 1.25rem;
}

article {
  line-height: 1.5rem;
  padding: 20px;
}

form input,
form textarea {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
}

form textarea {
  min-height: 150px;
  max-height: 150px;
  height: 150px;
  resize: none;
}

form button {
  background: none;
  border: 2px solid black;
  padding: 1rem;
  text-transform: uppercase;
}

.site-footer {
  padding: 2rem 0;
}